In [1]:
import numpy as np
import pandas as pd
import string
import re

In [2]:
with open('businessCard.txt', 'r', encoding='utf8', errors='ignore') as f:
    text = f.read()

In [3]:
data = list(map(lambda x: x.split('\t'),text.split('\n')))

In [4]:
df = pd.DataFrame(data[1:],columns=data[0])
df.dropna(inplace=True)

In [5]:
df.head()

         id      text      tag
0  000.jpeg                  O
1  000.jpeg         .        O
2  000.jpeg  040-4852  B-PHONE
3  000.jpeg   "8881,"  I-PHONE
4  000.jpeg     90309  B-PHONE

In [6]:
# cleaning
whitespace = string.whitespace
punctuation = "!#$%&\'()*+:;<=>?[\\]^`{|}~"
tableWhitespace = str.maketrans('','',whitespace)
tablePunctuation = str.maketrans('','',punctuation)

def cleanText(txt):
    text = str(txt)
    text = text.lower()
    removewhitespace = text.translate(tableWhitespace)
    removepunctuation = removewhitespace.translate(tablePunctuation)
    return str(removepunctuation)

In [7]:
df['text'] = df['text'].apply(cleanText)

In [9]:
dataClean = df.query('text !=""')
dataClean.dropna(inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_22240\1196878385.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataClean.dropna(inplace=True)

In [10]:
dataClean.head(10)

          id                       text      tag
1   000.jpeg                          .        O
2   000.jpeg                   040-4852  B-PHONE
3   000.jpeg                    "8881,"  I-PHONE
4   000.jpeg                      90309  B-PHONE
5   000.jpeg                      52549  I-PHONE
6   000.jpeg                         fi        O
7   000.jpeg  /laurelsoverseaseducation        O
8   000.jpeg                          @        O
9   000.jpeg                    laurels    B-ORG
10  000.jpeg                   overseas    I-ORG